body, html {
	margin: 0;
	padding: 0;
	color: #000;
	background: #a7a09a;
}
#header {
	background: #ddd;
}
.nav {
	width: 130px;
	height: 48px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #c99;
	position: absolute;
}
.nav li a:link, .nav li a:visited {
	position: absolute;
	top: 0;
	height: 48px;
	text-indent: -9000px;
	overflow: hidden;
}
.nav .home a:link, .nav .home a:visited {
	left: 23px;
	width: 76px;
}
.nav .home a:hover, .nav .home a:focus {
	background: url(../i/blue-nav.gif) no-repeat -23px -49px;
}
.nav .home a:active {
	background: url(../i/blue-nav.gif) no-repeat -23px -98px;
}
.nav-home {
	position: absolute;
	top: 0;
	left: 23px;
	width: 76px;
	height: 48px;
	background: url(../i/blue-nav.gif) no-repeat -23px -49px;
}
.nav-home, .nav-home-click {
	position: absolute;
	top: 0;
	left: 23px;
	width: 76px;
	height: 48px;
	background: url(../i/blue-nav.gif) no-repeat -23px -49px;
}
.nav-home-click {
	background: url(../i/blue-nav.gif) no-repeat -23px -98px;
}
#wrapper {
	width: 1024px;
	margin: 0 auto;
	background: #99c;
}
#wrapper-top-left {
	float: left;
	width: 50%;
	background: #9c9;
}
#wrapper-top-right {
	float: right;
	width: 50%;
	background: #c9c;
}
#footer {
	clear: both;
	background: #cc9;
}