body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #000;
	background: #ffffff;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.column {
	min-width: 330px;
	width: 30%;
	float: left;
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 50px;
	border-top: thick solid #363636;
	border-right: thin solid #D7EBF9;
	/*background: #ACD1E9;*/
	/*box-shadow: 1px 1px 1px #888888;*/
}
.doubleSized {
	width: 63%;
}
.fullSized {
	width: 96%;
}

.article-box {
	position: relative;
	margin: 3px 3px 30px 3px;
	background: #F5FAFA;
	box-shadow: 10px 10px 5px #888888;
}

.article-box img {
	z-index: 5;
	vertical-align: top;
	max-width: 320px;
}
.article-box h1 {
	z-index: 10;
	vertical-align: top;
	color: white;
	letter-spacing: -1px;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
}

#header {
	background: -webkit-linear-gradient(bottom, #E0E0E0  , #FFFFFF);
	background: -moz-linear-gradient(bottom, #E0E0E0  , #FFFFFF);
	background: -ms-linear-gradient(bottom, #E0E0E0  , #FFFFFF);
}
#wrapper {
	max-width: 1024px;
	margin: 20px auto;
	padding-bottom: 30px;
}
#footer {
	clear: both;
	max-height: 20px;
	text-align: center;
	bottom: 10px;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
#statusSubmit{
	margin-top: 5px;
	margin-bottom:5px;
}
#statusSubmit span{
	display: inline-block;
	text-shadow: 3px 2px 3px #C0C0C0;
}
#statusSubmit form{
	display: none;
}
#statusSubmit input{
	display: inline-block;
}
.comment textarea{
	overflow-y: hidden;
	width: 100%;
	resize:vertical;
}
.comment input{
	float:right;
}
.hidden{
	display:none;
}
.nav {
	position: relative;
	width: 1024px;
	height: 35px;
	max-height: 175px;
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-align: center;
	text-shadow: 3px 2px 3px #FFFFFF;
	border-radius: 1px;
	margin-left: auto;
	margin-right: auto;
}
.nav ul {
	height: auto;
	padding: 8px 0px;
	margin: 0px;
}
.nav li {
	display: inline;
	padding: 20px;
}
.nav a {
	text-decoration: none;
	color: #333333;
	padding: 8px 8px 8px 8px;
}
.nav a:hover {
	background: -webkit-linear-gradient(top, #E0E0E0, #F0F0F0);
	background: -moz-linear-gradient(top, #E0E0E0, #F0F0F0);
	background: -ms-linear-gradient(top, #E0E0E0, #F0F0F0);
}
.side-menu {
	text-shadow: 3px 2px 3px #FFFFFF;
}

.side-menu li {
	padding-top: 5px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(left, #F0F0F0, #E0E0E0);
	background: -moz-linear-gradient(left, #F0F0F0, #E0E0E0);
	background: -ms-linear-gradient(left, #F0F0F0, #E0E0E0);
}
.side-menu li:hover {
	background: -webkit-linear-gradient(right, #F0F0F0, #E0E0E0);
	background: -moz-linear-gradient(right, #F0F0F0, #E0E0E0);
	background: -ms-linear-gradient(right, #F0F0F0, #E0E0E0);
}
.side-menu ul {
	margin: 0;
	padding: 0;
	padding-left: 5px;
	list-style-type: none;
}
.side-menu a{
	text-decoration: none;
}
